
<StackLayout horizontalAligment="center" verticalAligment="center">

    <Button (tap)="SimpleDialog()" text="Simple Dialog!" class="btn btn-primary"></Button>
    <Button (tap)="Dialog()" text="Dialog with object!" class="btn btn-primary"></Button>
    <Button (tap)="ActionDialog()" text="Action Dialog!" class="btn btn-primary"></Button>
    <Button (tap)="ConfirmDialog()" text="Confirm Dialog!" class="btn btn-primary"></Button>
    <Button (tap)="LoginDialog()" text="Login Dialog!" class="btn btn-primary"></Button>
    <Button (tap)="PromptDialog()" text="Prompt Dialog!" class="btn btn-primary"></Button>



</StackLayout>

