<DockLayout stretchLastChild="false">
    <label dock="top" text="Titulo" class="h1 text-center"></label>
    
    <StackLayout dock="top" class="nt-form">
        <TextField  keyboardType="email" autocapitalizationType="none" [(ngModel)]="email" class="nt-input" hint="Email"></TextField>
        <TextField secure="true" [(ngModel)]="psw" class="nt-input" hint="Contraseña"></TextField>
    </StackLayout>

    <button (tap)="fulogin()" dock="bottom" text="Login" class="btn btn-primary -active">    </button>
    
</DockLayout>